<article class="module width_3_quarter">
    <header><h3>{{ station.name }}</h3></header>
        <div class="module_content">
            <table>
                <tr>
                    <td>Adresse :</td>
                    <td>{{ station.fulladdress }}</td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td>{{ station.open ? 'Ouverte' : 'Fermée' }}</td>
                </tr>
                <tr>
                    <td>Velib+ :</td>
                    <td>{{ station.bonus ? 'Oui' : 'Non' }}</td>
                </tr>
            </table>
            {% set markers = 'markers=color:green%7Clabel:*%7C'~station.coord.x~','~station.coord.y %}
            {% for near in nearest %}
            {% if near.data.available == 0 %}
              {% set markers = markers ~ '&markers=color:red%7Clabel:X%7C'~near.coord.x~','~near.coord.y %}
            {% elseif near.data.available <= 5 %}
              {% set markers = markers ~ '&markers=color:orange%7Clabel:o%7C'~near.coord.x~','~near.coord.y %}
            {% else %}
              {% set markers = markers ~ '&markers=color:yellow%7Clabel:*%7C'~near.coord.x~','~near.coord.y %}
            {% endif %}
            {% endfor %}
            <img src="http://maps.google.com/maps/api/staticmap?center={{ coord }}&zoom=15&size=610x380&sensor=false&{{markers}}" />
        </div>
</article>

